
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
}

.carousel__prev,
.carousel__next {
  box-sizing: content-box;
  color: #ffffff !important;
  border: 1px solid #ffffff !important;
  border-radius: 50% !important;
  background-color: rgba(0, 0, 0, 0.616) !important;
  margin:20px 2vw !important;
  width: 45px !important;
  height: 45px !important;
}
