@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}



body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: "Poppins", serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  background-color: rgb(23, 26, 22);
overflow-x: hidden;
}
.seta-carosel {
  box-sizing: content-box;
  color: #691414  !important;
  border: 1px solid #691414  !important;
  border-radius: 50% !important;
  background-color: #ffffffb0 !important;
  margin:20px 2vw !important;
  width: 45px !important;
  height: 45px !important;
}
.seta-generos{
  box-sizing: content-box;
  color: #ffffff  !important;
}
